body{
    background-color:lightyellow;
}

/* // Home Navigation Bar Section */
h1{
    text-align: center;
    font-size:  x-large;
    color: green;
}

#date{
    text-align: center;
    font-size: medium;
}

#flag{
    margin-left: 35%;
    background: transparent;
}

#nav{
    margin-left: 43%;
}

button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    size: x-large;
    color: red;
    margin-left: 44%;
}

/* //About Us Section */
.aboutus{
    text-align: center;
    padding: 15px;
}

/* //Our Branches Section */
.ourbranches{
    text-align: center;
    padding: 15px;
}
h3{
    font-size: x-large;
}

.location{
    text-align: left;
}